<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="style/about_style.css">

</head>

<body>

    <div class="nav_bar">
        <img src="../assets/image/p5.png">
        <nav>
            <li><a href="index.html">Home</a></li>
            <li><a href="About.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="signup.html">Sign Up</a></li>
            <li><a href="signin.htm">Sign In</a></li>
            <li><a href="myprofile.html">My Profile</a></li>
        </nav>
    </div>
    <h1>Meet our travel team</h1>

    <div class="combo">

        <!-- left side -->
        <div class="left_side">


            <!-- first section -->
            <section>
                <img src="../assets/image/for_about/pexels-photo-709802.jpg" alt="">
                <h2>manger</h2>
                <h5>mohamed salah</h5>
            </section>

            <!-- second section -->
            <section>
                <img src="../assets/image/for_about/pexels-photo-2659177.jpeg" alt="">
                <h2>devolper</h2>
                <h5>mohamed salah</h5>
            </section>

        </div>

        <!-- midel side -->
        <div class="midel_side">



            <!-- third section -->
            <section>
                <img src="../assets/image/for_about/pexels-photo-3979473.jpeg" alt="">
                <h2>devolper 3</h2>
                <h5>mohamed salah</h5>
            </section>


            <!-- four section -->
            <section>
                <img src="../assets/image/for_about/pexels-photo-3984959.jpeg" alt="">
                <h2>devolper 4</h2>
                <h5>mohamed salah</h5>
            </section>

        </div>

        <!-- right side -->
        <div class="right_side">




        </div>

    </div>



</body>

</html>