<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style/contact.css">

</head>

<body>

    <div class="nav_bar">
        <img src="../assets/image/p5.png">
        <nav>
            <li><a href="index.html">Home</a></li>
            <li><a href="About.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="signup.html">Sign Up</a></li>
            <li><a href="signin.htm">Sign In</a></li>
            <li><a href="myprofile.html">My Profile</a></li>
        </nav>
    </div>
    <h1>Contact Our Agency!</h1>

    <div class="combo">

        <!-- left side -->
        <div class="left_side">


            <!-- first section -->
            <section>
                <img src="../assets/image/p9.jpg" alt="">
                <h2>Cairo Office</h2>
                <h5>Hotline: 123456</h5>
            </section>

        </div>

    </div>



</body>

</html>