<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style/home_style.css">
    <!--  -->
</head>

<body>

    <div class="combo">

        <div class="part_1">

            <div class="nav_bar">

                <img src="../assets/image/p5.png">

                <nav>
                    <li><a href="###">Home</a></li>
                    <li><a href="About.html">About</a></li>
                    <li><a href="###">Contact</a></li>
                </nav>

            </div>

            <span class="first">
                <h1>the mountains</h1>
                <P>IS CALLING AND I MUST GO </P>
            </span>
            <img src="../assets/image/p1.jpg" alt="">
        </div>


        <div class="part_2">
            <h1>Travel Sale Fair :</h1>
            <div class="content_part_2">
                <div>
                    <img src="../assets/image/p2.jpg" alt="">
                    <h2>MOUNTAINS TRAVEL</h2>
                    <p>Desc. for TRAVEL</p>
                    <button onclick="another_page()">BOOK NOW</button>
                </div>

                <div>
                    <img src="../assets/image/p3.jpg" alt="">
                    <h2>SURF TRAVEL</h2>
                    <p>Desc. for TRAVEL</p>
                    <button onclick="another_page()">BOOK NOW</button>
                </div>

                <div>
                    <img src="../assets/image/p4.jpg" alt="">
                    <h2>OCEAN TRAVEL</h2>
                    <p>Desc. for TRAVEL</p>
                    <button onclick="another_page()">BOOK NOW</button>
                </div>

            </div>
        </div>

        <!-- part 3 -->

        <div class="part_3">

            <h1>Climb the mountain not to plant your flag</h1>

            <div>
                <section>

                    <span>
                        <img src="../assets/image/p6.jpeg" alt="">
                    </span>
                    <span>
                        <h2>MOUNTAINS TOUR</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore
                            et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        </p>
                        <button>LEARN MORE</button>
                    </span>
                </section>

                <section>
                    <span>
                        <img src="../assets/image/pexelsphoto3978928.jpeg" alt="">
                    </span>

                    <span>
                        <h2>CLIMB THE MOUNTAIN</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        </p>
                        <button>LEARN MORE</button>
                    </span>
                </section>
            </div>
           

        </div>
    </div>


    <script>

        function another_page() {
            location.href = 'h.html';
        }
    </script>

</body>

</html>