<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="style/signup_and_signin.css">

</head>

<body>

    <div class="nav_bar">
        <img src="../assets/image/p5.png">
        <nav>
            <li><a href="index.html">Home</a></li>
            <li><a href="About.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="signup.html">Sign Up</a></li>
            <li><a href="signin.htm">Sign In</a></li>
            <li><a href="mydetails.html">My Details</a></li>
        </nav>
    </div>
    <h1>Sign In</h1>

    <div class="combo">

        <!-- left side -->
        <div class="left_side">


            <!-- first section -->
            <section>
                <h2>Username</h2>
                <form>
                    <input id="loginUsername" type="text">
                </form>
                <h2>Password</h2>
                <form>
                    <input id="loginPassword" type="password">
                </form>
                <button type="button">Login</button> 
            </section>

            <!-- second section -->
            <section>

            </section>

        </div>

    </div>

    <script src="../controller/pouchdb-8.0.1.min.js"> </script>
    <script src="../controller/jquery-3.6.4.min.js"> </script>
    <script src="../controller/app.js"> </script>

</body>

</html>